{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/conference.css') }}">{% endblock %}

{% block title %}{{ conference.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h1 class="mb-4">{{ conference.title }}</h1>
            <div class="d-flex bd-highlight justify-content-between mb-3">
                <div>{{ conference.date | date }}</div>
                {% if conference.address is not null %}
                    <div>{{ conference.address }}</div>
                {% else %}
                    <div>Le lieu n'est pas encore définis...</div>
                {% endif %}
            </div>
            {% if conference.image is not null %}
                <div class="floated">
                    <img src="{{ asset('/images/' ~ conference.image )}}"/>
                </div>
            {% endif %}
            <p>{{ conference.content }}</p>
        </div>
        <div>
            {% for vote in votes %}

                {{ vote.rating }}
                {{ vote.comment }}

            {% endfor %}
            {% if form is defined %}
            {{ form_start(form, {'attr': {'class':'col-lg-4 offset-lg-4'}}) }}
            {{ form_row(form.rating, {'attr':{'class':'form-control'}}) }}
            {{ form_row(form.comment, {'attr':{'class':'form-control'}}) }}
            {{ form_row(form.submit, {'attr': {'class': 'btn btn-outline-success'}}) }}
            {{ form_end(form) }}
            {% endif %}
        </div>
    </div>


{% endblock %}
