<nav class="navbar navbar-expand-lg navbar-light bg-light meenos-nav">
    <div class="navbar-brand">
        <a href="{{ path('home') }}"><img class="navbar-title" src="{{ asset('images/logo_title.png') }}"/><img class="navbar-logo" src="{{ asset('/images/logo_bull.png') }}"/></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-1">
            {% if is_granted( 'IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <span class="navbar-text">{{ app.user.username }}</span>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <div class="dropdown">
                    <button class="btn nav-link dropdown-toggle btn-admin" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('addTag') }}">Ajouter une categorie</a>
                        <a class="dropdown-item" href="{{ path('addConference') }}">Ajouter une conférence</a>
                    </div>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('register') }}">S'inscrire</a>
            </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>