{% extends 'base.html.twig' %}

{% block title %}Meenos{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('/css/home.css') }}">{% endblock %}

{% block body %}
<div class="container home-container">
    <h1 class="mb-5">Acceuil</h1>
    {% for conference in conferences %}
    <div class="mb-4 pl-5 pr-5 conf-min">
        <div class="mb-3"><a href="{{ path('conference', {'id': conference.id}) }}" class="title-link">{{ conference.title }}</a></div>
        <div class="d-flex">
            <div class="col-md-4">
                <img class="conf-img" src="{{ asset('/images/' ~ conference.image )}}"/>
            </div>
            <div class="col-md-8 text-right">
                <p>{{ conference.summary }}</p>
                <div class="star"><span id="{{ conference.id }}"></span></div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="separator mt-5"></div>

    {# PAS TOUCHER !!!!!!!#}
    <nav class="mt-5" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {%  if page == 1  %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path('home_page', {'page': page-1}) }}" >Previous</a>
            </li>
            {% endif %}
            {% for i in 1..nbPage %}
            <li class="page-item"><a class="page-link" href="{{ path('home_page', {'page': i}) }}">{{ i }}</a></li>
{% endfor %}
            {%  if page == nbPage %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ path('home_page', {'page': page+1}) }}">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>



</div>
{% endblock %}
{% block javascripts %}
    <script>
        function generate_star_rating(rate, name_of_id,){
            var entier = Math.trunc(rate);
            var decimal = rate - entier;

            var content = "";
            for (var i = 1; i<= entier; i++){
                content = content+"<i class='fas fa-star' style='color:#c8071a'></i>"
            }
            if (entier < 5){
                if (decimal <0.25){
                    content = content+"<i class='far fa-star' style='color:grey'></i>"
                }
                if (decimal <0.75 && decimal >= 0.25){
                    content = content+"<i class='fas fa-star-half-alt' style='color:#c8071a'></i>"
                }
                if (decimal >= 0.75){
                    content = content+"<i class='fas fa-star' style='color:#c8071a'></i>"
                }
            }
            for (var i = 1; i< 5 - entier; i++){
                content = content+"<i class='far fa-star' style='color:grey'></i>"
            }
            document.getElementById(name_of_id).innerHTML=content;

        };
        function change_val(id_star){
            var val = id_star;
            $('#vote_rating').val(val);
        }

        function add_form_star(max_rate){
            var content = "";
            for (var i=1; i<=max_rate; i++){
                content = content+"<span data-rating-value='"+i+"' onclick='change_val("+i+")'></span>"
            }
            document.getElementById("star").innerHTML=content;

        }



        {% for conference in conferences %}
        generate_star_rating({{ conference.rating }}, {{ conference.id }})
        {% endfor %}

        add_form_star(5);
        $('.modal-review__rating-order-wrap > span').click(function() {
            $(this).addClass('active').siblings().removeClass('active');
            $(this).parent().attr('data-rating-value', $(this).data('rating-value'));
        });
    </script>

{% endblock %}