{% extends 'base.html.twig' %}
{% block title %}Ajouter un tag {% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form, {'attr': {'class':'col-lg-4 offset-lg-4'}}) }}
        {{ form_row(form.title, {'attr':{'class':'form-control'}}) }}
        {{ form_row(form.description, {'attr':{'class':'form-control'}}) }}
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-outline-success'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}