{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="title_form">Se Connecter</h1>
        {{ form_start(form, {'attr':{'class':'col-lg-4 offset-lg-4'}}) }}
        {{ form_errors(form) }}
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.username) }}
        {{ form_label(form.password) }}
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr':{'class':'form-control'}}) }}
        {{ form_help(form.password) }}

        {{ form_label(form.submit) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-success'}}) }}

        {{ form_end(form) }}</div>


{% endblock %}
