{% extends 'base.html.twig' %}
{% block title %}top 10 {% endblock %}
{% block body %}
    <div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Note</th>
            <th scope="col">Titre de la conference</th>
            <th scope="col">Date de la conference</th>
            <th scope="col">Nombre de personne</th>
        </tr>
        </thead>
        <tbody>
        {% for conf in topten %}
            <tr>
                <th scope="row">  {{ conf.rating }}</th>
                <td><a href="{{ path('conference', {'id': conf.id_conf}) }}">{{ conf.titleConf }}</a></td>
                <td>  {{ conf.DateConf }} </td>
                <td>{{ conf.nmbUser }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}